In [ ]:
# Q1: print()와 ord()함수를 이용해 하나의 문자를 인자로 받아 해당하는 유니코드 정수 변환하기 (총 3개 출력)

# 함수에서 읽어 변환
char = "A"
print(ord(char))
char = "B"
print(ord(char))
char = "C"
print(ord(char))

# 유저 입력 받은 다음 변환
print(ord(input("\nenter letter: ")))
print(ord(input("enter letter: ")))
print(ord(input("enter letter: ")))

65
66
67

enter letter: a
97
enter letter: b
98
enter letter: c
99

In [ ]:
# Q2: print()와 chr()함수를 이용해 하나의 문자를 인자로 받아 해당하는 유니코드 문자 변환하기 (총 3개 출력)

# 함수에서 읽어 변환
char = 65
print(chr(char))
char = 66
print(chr(char))
char = 67
print(chr(char))

# 유저 입력 받은 다음 변환
print(chr(int(input("\nenter number: "))))
print(chr(int(input("enter number: "))))
print(chr(int(input("enter number: "))))

A
B
C

enter number: 65
A
enter number: 66
B
enter number: 67
C

In [ ]:
# Q3: 이름, 학번, 과목 명 사이 공백을 "\t"를 사용하여 출력하기

print("김민찬\t2023059889\t기초컴퓨터프로그래밍")

김민찬	2023059889	기초컴퓨터프로그래밍

In [ ]:
# Q4: 이름, 학번, 과목 명 사이 공백을 쉼표(,) 사용하여 출력하기

print("김민찬", "2023059889", "기초컴퓨터프로그래밍", sep=',')

김민찬,2023059889,기초컴퓨터프로그래밍

In [ ]:
# Q5: 1-20까지의 숫자를 다섯 개씩 줄바꿈 적용하여 출력하기

# 방법 1
print("12345\n678910\n1112131415\n1617181920")

print()
# 방법 2
print(12345)
print(678910)
print(1112131415)
print(1617181920)

12345
678910
1112131415
1617181920

12345
678910
1112131415
1617181920

In [ ]:
# Q6: 슬래시(/) 마다 줄바꿈 적용하여 출력하기
# -> 동해물과 백두산이 마르고 닳도록 / 하느님이 보우하사 우리나라 만세 / 무궁화 삼천리 화려 강산 / 대한사람 대한으로 길이 보전하세

# 방법 1
print("동해물과 백두산이 마르고 닳도록 \n하느님이 보우하사 우리나라 만세 \n무궁화 삼천리 화려 강산 \n대한사람 대한으로 길이 보전하세")

print()
# 방법 2
print("동해물과 백두산이 마르고 닳도록", "하느님이 보우하사 우리나라 만세", "무궁화 삼천리 화려 강산", "대한사람 대한으로 길이 보전하세", sep="\n", end="\n")

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려 강산
대한사람 대한으로 길이 보전하세

동해물과 백두산이 마르고 닳도록
하느님이 보우하사 우리나라 만세
무궁화 삼천리 화려 강산
대한사람 대한으로 길이 보전하세

In [ ]:
# Q7: print()를 사용한 출력과 사용하지 않은 출력의 차이점을 기재하시오
'''
print()는 콘솔 출력에 사용되며, 매개변수를 통해 출력 형식 조정이 가능하고 함수를 통한 값 반환도 가능. (ex: \t, \n, sep     함수 ex: ord() )
print()를 사용하지 않는 출력은 자동 줄바꿈이 없고 출력 형식 조정이 불가능.
'''

In [ ]:
# 연습 문제 2

num1 = input("첫번쨰 정수: ")
num2 = input("두번쨰 정수: ")
print("-"*16)
print(num1, ' + ', num2, ' = ', int(num1) + int(num2))
print(num1, ' - ', num2, ' = ', int(num1) - int(num2))
print(num1, ' * ', num2, ' = ', int(num1) * int(num2))
print(num1, ' / ', num2, ' = ', int(num1) / int(num2))

첫번쨰 정수: 10
두번쨰 정수: 20
----------------
10  +  20  =  30
10  -  20  =  -10
10  *  20  =  200
10  /  20  =  0.5