# Variables
Python is **Dynamic typed language**
Variable is name of space to store data

### Binding
Python uses a **Dynamic binding** (C, Jaca uses Static binding)

### Assignment
<center>**variable_name = expression_value**</center>
- Variable: left side of equal sign
- Expression: right side of equal sign
  - Variable assignment statement: action to register value to the name space - if value ois changed registrated value would be updated
  - Multiple variables can assigned at the same time
  - Same value can be assigned to multiple variables (ex: x, y = 3, 7)

### Naming
Variable is an identifier
- A~Z, a~z, 0~9 and _ can be used
  BUT
- No space in middle of name
- 0~9 can't come first
- a~z != A~Z
- Keyword can't be used (ex: if, True, False, await, import...)
- !, @, #, $, %, & can't be used
*→ Naming Styles*
   - Camel Case(Java): first character of second word is capital (ex: firstName)
   - Hungarian Notation: type+word (ex: strName)
   - Snake case(Python): _ between words (ex: first_name)
   - Pascal case: always begin with capital (ex: FirstName)

### Assign value to Variables

In [1]:
korea1st = 2020
korea2nd = "2020"
print(korea1st, korea2nd)

2020 2020

In [2]:
1stkorea = 1222

SyntaxError: invalid decimal literal (3973684142.py, line 1)

In [3]:
radius = 5; pi = 3.14
area = pi*radius ** 2
print(area)

78.5

### del prior to variable -> variable is deleted

In [10]:
x = 300
x

300

In [13]:
del x
x

NameError: name 'x' is not defined

In [12]:
y = 50
x

300

### keyword list

In [14]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### quiz: compute triangle with base = 3, height = 4

In [15]:
base = 3
height = 4
area = 3 * 4 / 2
area

6.0

# Data Types

---

### None Type
- can be declare variable without any value (ex: no = None)

### Boolean Type
- can be assigned True of False (ex: b1 = True)

### Number Type
- can be assigned int, float, Octal, hexadecimal number value
  (ex: b1 = 123, b2 = 0o177, b3 = 0x8ff, b4 = -128.345)

### String Type
- can be assigned String value (ex: b1 = 'fool')

---

**_Escape_**
| Escape Sequence | Role                                      |
|------------------|-------------------------------------------|
| `\n`             | New line                                  |
| `\t`             | Tab                                       |
| `\\`             | Use `\` in a sentence                     |
| `\/`             | Use `/` in a sentence                     |
| `\'`             | Use `'` in a sentence                     |
| `\"`             | Use `"` in a sentence                     |
| `\f`             | Form feed. Move cursor to the next line   |

**_String Formatting_**
| Code  | Explanation                  |
|--------|------------------------------|
| `%s`   | String                       |
| `%c`   | Character                    |
| `%d`   | Integer                      |
| `%f`   | Floating-point number        |
| `%o`   | Octal digit number           |
| `%x`   | Hexadecimal digit number     |
| `%%`   | Literal                      |

**_String Indexing_**
- Each character in a string has a index number (default start is 0)
- 
**_String Slicing_**
  <center>variable[begin_index:end_index]</center>
  - Each character or some characters can be sliced by index numbers
  - end_index is not included (ex: [9:12] -> 9, 10, 11)
  
**_String Functions_**
| Function           | Explanation                                                                 |
|--------------------|-----------------------------------------------------------------------------|
| capitalize()       | Return the text by capitalizing the first character of the text             |
| count(text)        | Return the number of occurrence of the text                                 |
| find(text)         | Return the first location of the text in the string. If none found, returns -1 |
| rfind(text)        | Return the first location of the text in the string by reverse-finding      |
| index(text)        | Return the first location of the text in the string. If none found, error occurs |
| lower()            | Convert the text to lower-case                                              |
| upper()            | Convert the text to upper-case                                              |
| replace(a, b)      | Return the text by replacing a with b                                       |
| strip()            | Strip white-space from both sides                                           |
| lstrip()           | Strip white-space from the left side                                        |
| rstrip()           | Strip white-space from the right side                                       |
| split(text)        | Split the text based on the text                                            |
| splitlines()       | Split the text into multiple lines                                          |
| join(strs)         | Join the strings included in strs                                           |
| isalpha()          | Asking if the sentences are all alphabets                                   |
| isnumeric()        | Asking if the sentences are all numbers                                     |
| isalnum()          | Asking if the sentences are all numbers or alphabets                        |
| format()           | Formatting the data                                                         |
| len()              | Return the length of the sentence                                           |
| ord(text)          | Return the ASCII code of the text                                           |
| chr(ASCII code)    | Return the corresponding text to ASCII code                                 |

### Recall: Type casting
Data can be converted to each other
- int() : real number, string is change to *integer*
- float() : integer, real number, string is change to *floating-point number*
- str() : integer, real number, can be converted to *string*

### Different data types

In [16]:
no = None
print(no)

None

In [17]:
b1 = True
print(b1)

True

In [18]:
type(b1)

bool

In [19]:
b2 = true

NameError: name 'true' is not defined

### use type() to find data type

In [20]:
a = 3.143
type(a)

float

In [22]:
b = 2-3j
type(b)
### complex: composed of multiple values or structures

complex

In [23]:
b.real
# returns real part of variable (b) which is 2

2.0

In [25]:
b.imag
# returns imaginary part of variable (b) which is -3j (파이썬의 j는 수학에서 i의 역할을 함)

-3.0

### see string data type

In [26]:
"python"

'python'

In [27]:
"""Life is short, you need Python"""

'Life is short, you need Python'

In [28]:
str1 = "double quotation mark is \"."
print(str1)

double quotation mark is ".

In [30]:
print("hello, \rworld!")
# moves the cursor back to the beginning of the current line

world!

### use format

In [31]:
print("현재 학년은 %d학년이다" % 1)

현재 학년은 1학년이다

In [32]:
print("|%30s|" % "artificial intelligence")
# %30s: Formats the string to be right-aligned within 30 characters

|       artificial intelligence|

In [34]:
print("|%-30s|" % "artificial intelligence")
# %-30s: Formats the string to be left-aligned within 30 characters

|artificial intelligence       |

In [35]:
print("원주율의 값은 |%-10.5f|입니다" % 3.141592623589793)
# 10.5f: Formats the number as a floating-point with 5 digits after the decimal point and a total width of 10 characters

원주율의 값은 |3.14159   |입니다

In [37]:
print("원주율의 값은 |%0.5f|입니다" % 3.141592623589793)
# %0.5f: Formats the number to have 5 digits after the decimal point.

원주율의 값은 |3.14159|입니다

### slicing and indexing

In [38]:
s1 = "artificial"
s2 = "intelligent"
s1 + " " + s2

'artificial intelligent'

In [39]:
s3 = (s1 + ' ' + s2 + "!! ")*3
print(s3)

artificial intelligent!! artificial intelligent!! artificial intelligent!!

In [40]:
print(s3[0:3])

art

In [42]:
print(s3[0]+s3[1]+s3[2])

art

### use functions

In [43]:
s4 = "artificial intelligence"
s4.capitalize()

'Artificial intelligence'

In [44]:
s4.count('t')

2

In [45]:
s4.find('t')

2

In [46]:
s4.index('t')

2

In [49]:
s5 = s4.upper()
print(s5)

ARTIFICIAL INTELLIGENCE

In [50]:
s5.lower()

'artificial intelligence'

In [51]:
s5.replace('ARTIFICIAL', '인공')

'인공 INTELLIGENCE'

In [53]:
s6 = '          artificial intelligence             '
s6.strip()

'artificial intelligence'

In [54]:
s6.lstrip()

'artificial intelligence             '

In [55]:
s6.rstrip()

'          artificial intelligence'

In [57]:
s7 = "www.hanyang.ac.kr"
print(s7)

www.hanyang.ac.kr

In [58]:
s7.split('.')

['www', 'hanyang', 'ac', 'kr']

In [59]:
poem = '''우리들은 모두
무엇이 되고 싶다.
너는 나에게 나는 너에게
잊혀지지 않는 하나의 눈짓이 되고 싶다'''

print(poem)

우리들은 모두
무엇이 되고 싶다.
너는 나에게 나는 너에게
잊혀지지 않는 하나의 눈짓이 되고 싶다

In [60]:
poem.splitlines()

['우리들은 모두', '무엇이 되고 싶다.', '너는 나에게 나는 너에게', '잊혀지지 않는 하나의 눈짓이 되고 싶다']

In [70]:
str6 = "department of {}"
print(str6.format('ai'))

department of ai

In [71]:
print(s4)

artificial intelligence

In [72]:
"$".join(s4)

'a$r$t$i$f$i$c$i$a$l$ $i$n$t$e$l$l$i$g$e$n$c$e'

In [73]:
("python").isalpha()

True

In [74]:
('-30000').isnumeric()

False

In [75]:
('3000').isnumeric()

True

In [63]:
str6 = "department of {} {}"
print(str6.format('computer', 'engineering'))

department of computer engineering

In [66]:
str7 = 'department of {:$^20}'
# : introduces the format specification.
# ^ indicates center alignment.
# 20 specifies the total width of the field.

# {:^20}: Center-align within 20 characters, using spaces as padding.
# {:*^20}: Center-align within 20 characters, using * as padding.

print(str7.format("Engineering"))

department of $$$$Engineering$$$$$

In [76]:
str7 = 'department of {:$>20}'
# > indicates right alignment.
# {:*>20} right-aligns the text and fills the padding with asterisks (*)
print(str7.format("Engineering"))

department of $$$$$$$$$Engineering

In [68]:
str7 = 'department of {:$<20}'
# > indicates left alignment.
# {:*<20} left-aligns the text and fills the padding with asterisks (*)
print(str7.format("Engineering"))

department of Engineering$$$$$$$$$

In [69]:
a5 = "life is short!"
len(a5)

14

### 연습문제 1

다음중 식별자(변수 명)로 사용할 수 있는 단어와 없는 단어를 구분하시오.
1) 작성한 답변은 주석으로 처리 2) 사용할수 없다면, 그이유를 함께 작성하시오.
-----------------------------------------------------------------
1) a → 사용 가능: 영문자로 시작하는 유효한 식별자입니다.
2) $hello → 사용 불가: 식별자는 영문자 또는 밑줄(_)로 시작해야 하며, 특수문자 $는 허용되지 않습니다.
3) 10_hello → 사용 불가: 숫자로 시작하는 식별자는 허용되지 않습니다.
4) bye → 사용 가능: 영문자로 시작하는 유효한 식별자입니다.
5) break → 사용 불가: 'break'는 예약어로, 식별자로 사용할 수 없습니다.

### 연습문제2
과일 가게에서 사과(개당 2000원)와 바나나(개당 1500원)를 사려고 한다. 사과와 바나나 각각의 구매 개수를 입력받아, 총 구매 금액을 계산하는 프로그램을 작성하시오.
조건 1) print(), input(), 변수 선언, 사칙연산, format() 함수를 전부 이용할 것 2) 출력 예시 지킬 것

In [82]:
apple = int(input("사과의 개수: "))
bannana = int(input("바나나의 개수: "))
print("사과 {}개의 총합: {}원, 바나나 {}개의 총합: {}원".format(apple, apple*2000, bannana, bannana*1500))
print("총 구매 금액은 %d원이다." % (apple*2000+bannana*1500))

사과의 개수:  3
바나나의 개수:  2

사과 3개의 총합: 6000원, 바나나 2개의 총합: 3000원
총 구매 금액은 9000원이다.