# Functions
: Fundamental building block which contains reusable code designed to perform specific task(s)
- provides way to organize code -> manageable and modular
- better organization, reusability, maintainability
- built-in or custom functions

Input: parameters --> output: result of processing arguments

### Built-in Functions
: part of Python language and always available
- provides fundamental operation that are commonly used in programming
- some built in functions are implemented in a specific library(module) ; need to import library for use

### Lambda function
: small and anonymous function (from lambda calculus)
```python
lambda parameters: expression
```
- result is the value the lambda returns

### Functions
- defining a function
```python
def function_name(param1, param2):
    # some commands
    return output
```

- procedure: code block withou return statement
- also possible to create a function without parameters
- calling a function
```python
function_name(parameter1, parameter2, ...)
```
    
### Parameters
- Positional parameters
    : parameters that are matched by position (order of provided arguments matters)
- Parameter with default value
    : parameters with default values come after parameters without default values
!!! order is important becaucse python assigns values based on order of parameters

### Value-length parameters
Parameters alloiwng for a variable number of parameters to be passed
- '*args' type
  - collects all the positional arguments in a tuple ex: function_name(a, b, 'c')
- '**kwargs' type
  - accepts any number of keyword arguments adn collected into a dictionary
    ex) function_name(age=25, id=1, name='hong')

### Local vs Global variables
| **Local variable**                                                                 | **Global variable**                                                                 |
|------------------------------------------------------------------------------------|-------------------------------------------------------------------------------------|
| Defined within the scope of a function or a block of codes.                        | Defined outside of any function or block of code, typically at the top level of the script. |
| The variable is created when the function or block is entered, and destroyed when it is exited. | Accessible through the entire program. |
| They are not visible to code outside of the specific scope.                        | if you want to modify a global variable within a function, you need to use ‘global’ keyword for indication. |
|                                                                                    | The lifetime of a global variable persists until the program terminates.           |

### Built in functions

In [2]:
from math import pi

radius = 3
print(pi*radius ** 2)

28.274333882308138

In [4]:
from math import pi

area_circle = lambda radius: pi * radius ** 2

print(area_circle(3))
print(area_circle(4))
print(area_circle(5))

28.274333882308138
50.26548245743669
78.53981633974483

### high-order function
- a function that takes another function as an argument or returns a function as its result (often used with lambda)

- filter()
    : filter elements from an iterabl based on a function's condition
- map()
    : apply a function to all the items in an input iterable and return iterator of result
- reduce()
    : successively apply a binary functino to the items of an iterabl, reducing them to a single accumulated value (functool library)

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

filtered_numbers = list(filter(lambda x: x %2 == 0, numbers))
print(filtered_numbers)

[2, 4, 6, 8, 10]

In [6]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared_numbers = list(map(lambda x: x  ** 2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
from functools import reduce

numbers = [1, 2, 3, 4, 5]

product = reduce(lambda x, y : x*y, numbers)
print(product)

120

### create regular funcion using *def*

In [9]:
def area_circle(radius):
    return pi*radius**2
    
print(area_circle(3))
print(area_circle(4))
print(area_circle(5))

28.274333882308138
50.26548245743669
78.53981633974483

In [11]:
def area_circle(radius):
    area = pi*radius ** 2
    return round(area, 2) # second digit after decimal point

print(area_circle(3))
print(area_circle(4))
print(area_circle(5))

28.27
50.27
78.54

### tips for testing function

- **None**
  - in return statement "return None" shows nothing
- **pass**
  - place instead of code-block to avoid errors

In [12]:
def area_circle(radius):
    pass
    return None

print(area_circle(3))

None

In [14]:
def add_print(a, b):
    print("%d, %d의 합은 %d입니다" % (a, b, a+b))

add_print(1, 9)

1, 9의 합은 10입니다

### no parameter

In [16]:
def hi():
    return 'Hi, python programming!'

aha = hi()
print(aha)

Hi, python programming!

### default value

In [18]:
def student_info(name, phone, id_no="confidential"):
    print("name: ", name)
    print("phone: ", phone)
    print("id_no: ", id_no)

student_info("kim", "010-1234-5678")

name:  kim
phone:  010-1234-5678
id_no:  confidential

In [19]:
student_info("kim", "010-1234-5678", "123456")

name:  kim
phone:  010-1234-5678
id_no:  123456

In [20]:
def student_info(name, id_no="confidential", phone):
    print("name: ", name)
    print("phone: ", phone)
    print("id_no: ", id_no)

SyntaxError: parameter without a default follows parameter with a default (220906327.py, line 1)

### variable-length parameter

In [22]:
def add_m(*args):
    result = 0
    for i in args:
        result = result + i
    return result

r1 = add_m(1, 2, 3)
print('r1=:', r1)

r1=: 6

In [24]:
r2 = add_m(1, 2, 3, 4, 5)
print('r2=:', r2)

r2=: 15

In [25]:
r3 = add_m(1, 2, 3, 4, 56, 7, 8, 9, 10)
print('r3=:', r3)

r3=: 100

### mixed parameters

In [26]:
def value_times(times, *values):
    for value in values:
        print(times*value)

value_times(3, 1, 2, 3, 4, 5)

3
6
9
12
15

### local and global variables

In [28]:
def f_a():
    num = 20
    print("f_a()의 num값 %d" % num)

def f_b():
    print("f_b()의 num 값 %d" % num)

num = 10 # global var
f_a()
f_b()

f_a()의 num값 20
f_b()의 num 값 10

### global variable inside function

In [30]:
def f_a():
    global num
    num = 20
    print("f_a()의 num값 %d" % num)

def f_b():
    print("f_b()의 num 값 %d" % num)

num = 10 # global var
f_a()
f_b()

f_a()의 num값 20
f_b()의 num 값 20

### **break** to get outside of loop

In [31]:
def calc(v1, v2, op):
    result = 0
    if op == '+':
        result = v1 + v2
    elif op == '-':
        result = v1 - v2
    elif op == '*':
        result = v1 * v2
    elif op == '/':
        if v2 == 0:
            return 'error'
        else:
            result = v1 / v2
    elif op == '**':
        result = v1 ** v2
    return result

while True:
    oper = input("연산자를 입력하세요(+, -, *, /, **, 종료:q): ")
    if oper == 'q':
        print("프로그램을 종료합니다!")
        break
    var1 = int(input("첫 번째 수를 입력하세요: "))
    var2 = int(input("두 번째 수를 입력하세요: "))
    res = calc(var1, var2, oper)
    if res == 'error':
        print("0으로 나누면 안됩니다!")
    else:
        print("## 계산기: %d %s %d = %d" % (var1, oper, var2, res))

연산자를 입력하세요(+, -, *, /, **, 종료:q):  q

프로그램을 종료합니다!

### 연습문제 1
범위 내부의 정수를 모두 더하는 함수를 선언하고 호출하는 코드를 작성하시오.  
조건: 1) 주어진 함수명을 사용할 것 2) return을 사용할 것 3) input() 불가 => 범위를 매개변수로

In [33]:
def sum_all(num1, num2):
    sum = 0
    for i in range(num1, num2):
        sum += i
    return sum

print("0 to 100:", sum_all(0, 100))
print("0 to 1000:", sum_all(0, 1000))
print("50 to 1000:", sum_all(50, 1000))

0 to 100: 4950
0 to 1000: 499500
50 to 1000: 498275

### 연습문제 2

두 정수 배열의 대소관계를 비교하는 코드를 작성하시오.  
<pre>
1) 두 배열의 길이가 다르다면 배열의 길이가 긴 쪽이 더 크다. 2) 배열의 길이가 같다면, 각 배열에 있는 모든 원소의 합을 비교하여 다르다면 더 큰 쪽이 크고, 같다면 같다.  
두 정수 배열 arr1과 arr2가 주어질 때, 정익한 배열의 대소관계에 대해:  
    arr2이 크다면 (arr2의 길이가 더 길거나, 길이가 같아도 모든 원소의 합이 더 큰 경우) => -1  
    arr1이 크다면 (arr1의 길이가 더 길거나, 길이가 같아도 모든 원소의 합이 더 큰 경우) => 1  
    두 배열이 같다면 (두 배열의 길이도 같고 각 배열에 있는 모든 원소의 합도 같은 경우) => 0  
을 return 하는 함수를 작성하시오.
조건: 1) 주어진 함수 명을 이용할 것 2) len(), sum(), return을 이용할 것 3) input() 불가 => 두 개의 리스트를 매개변수로
</pre>

In [35]:
def solution(list1, list2):
    if len(list1) > len(list2):
        return 1
    elif len(list1) < len(list2):
        return -1
    else:
        if sum(list1) > sum(list2):
            return 1
        elif sum(list1) < sum(list2):
            return -1
        else:
            return 0

print(solution([49, 13], [70, 11, 2]))       # => -1
print(solution([100, 17, 84, 1], [55, 12, 65, 36]))  # => 1
print(solution([1, 2, 3, 4, 5], [3, 3, 3, 3, 3]))    # => 0

-1
1
0